<div class="dashboard-banner">
  <div class="total-memories">
    <h2>You currently have <%= pluralize @memories.count, "memory" %></h2>
  </div>
  <div class="conteneur d-none d-md-block d-lg-block">
    <div class="row">
      <div class="col-md-2 offset-md-2">
        <% count1 = [] %>
        <% @memories.each do |memory| %>
          <% if memory.memory_type == "spotify" %>
            <% count1 << memory %>
          <% end %>
        <% end %>
        <p><%= count1.length %> <%= image_tag "music-icon.svg", class: "taille-petite" %></p>

      </div>
      <div class="col-md-2">
        <% count2 = [] %>
        <% @memories.each do |memory| %>
          <% if memory.memory_type == "photo" || memory.memory_type == "instagram" %>
            <% count2 << memory %>
          <% end %>
        <% end %>
        <p><%= count2.length %> <%= image_tag "image-icon.svg", class: "taille-petite" %></p>
      </div>
      <div class="col-md-2">
        <% count3 = [] %>
        <% @memories.each do |memory| %>
          <% if memory.memory_type == "video" %>
            <% count3 << memory %>
          <% end %>
        <% end %>
        <p><%= count3.length %> <%= image_tag "video-icon.svg", class: "taille-petite" %></p>
      </div>
      <div class="col-md-2">
        <% count4 = [] %>
        <% @memories.each do |memory| %>
          <% if memory.memory_type == "quote" %>
            <% count4 << memory %>
          <% end %>
        <% end %>
        <p><%= count4.length %> <%= image_tag "citation-icon.svg", class: "taille-petite" %></p>
      </div>
    </div>
  </div>
</div>
