<div class="modal fade bd-example-modal-lg" id="modal-ajout" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div id="fermer-modal-ajout" data-toggle="modal" data-target=".bd-example-modal-lg" data-backdrop="static">
          <i class="fas fa-times"></i>
        </div>
        <div class="conteneur-modal-ajout">
          <h1 id='titre-ajout'>Add a memory</h1>
          <%= simple_form_for [@memory] do |f| %>
            <div class="row">
              <div class="col-md-5">
                <div class="cadre-photo">
                  <%= f.input :photo %>
                </div>
                <%= f.input :photo_cache, as: :hidden %>
              </div>
              <div class="col-md-7">
                <%= f.input :memory_type, input_html: { id: 'special_categorie' }, as: :hidden  %>
                <%= f.input :title %>
                <%= f.input :description %>
                <%= f.label 'Stamps*', autofocus: true %>
                <div class="stamps-form">
                  <%= select_tag 'memory[stamps][]', options_for_select(Stamp.all.pluck(:title)), multiple: 'multiple', class: 'form-control select2'%>
                </div>
              </div>
              <div class="submit-add-button">
                <%= f.submit 'Add a memory', class: "btn boutton-rouge boutton-rouge-inside" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

