<div class="navbar-wagon">
  <% if user_signed_in? %>

    <div class="navbar-wagon-left">
      <!-- Logo -->
      <%= link_to root_path do %>
        <%= image_tag "logo.svg" %>
      <% end %>
      <div class="navbar-searchbar">
        <%= render 'shared/searchbar' %>
      </div>
    </div>

    <!-- Right Navigation -->
    <div class="navbar-wagon-right">

      <!-- Links when logged in -->
      <% if ((params["controller"] == "memboard") || ((params["controller"] == "memories") && ((params["action"] == "index") || (params["action"] == "show")))) %>
        <%= link_to "Explore", memboard_path, class: "btn boutton-rouge boutton-rouge-border" %>
        <% if Rails.env %>
          <%= link_to "Add a memory", "https://accounts.spotify.com/fr/authorize/?client_id=#{ENV['SPOTIFY_CLIENT_ID']}&response_type=code&redirect_uri=http://localhost:3000/memories/add&scope=user-modify-playback-state%20user-read-currently-playing%20user-read-playback-state%20user-library-modify%20user-library-read%20streaming%20app-remote-control%20user-read-email%20user-read-private%20user-read-birthdate%20user-follow-read%20user-follow-modify%20playlist-read-private%20playlist-read-collaborative%20playlist-modify-public%20playlist-modify-private%20user-read-recently-played%20user-top-read", class: "btn boutton-rouge boutton-rouge-inside", id: "add" %>
        <% else  %>
          <%= link_to "Add a memory", "https://accounts.spotify.com/fr/authorize/?client_id=#{ENV['SPOTIFY_CLIENT_ID']}&response_type=code&redirect_uri=https://lifepod.herokuapp.com/memories/add&scope=user-modify-playback-state%20user-read-currently-playing%20user-read-playback-state%20user-library-modify%20user-library-read%20streaming%20app-remote-control%20user-read-email%20user-read-private%20user-read-birthdate%20user-follow-read%20user-follow-modify%20playlist-read-private%20playlist-read-collaborative%20playlist-modify-public%20playlist-modify-private%20user-read-recently-played%20user-top-read", id: "add" %>
        <% end %>
      <% else %>
        <%= link_to "Explore", memboard_path, class: "btn boutton-rouge boutton-rouge-inside" %>
        <%= link_to "Add a memory", add_path, class: "btn boutton-rouge boutton-rouge-border", id: "add" %>
      <% end %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to profile_path do %>
                <span><i class="fas fa-user"></i> Profile</span>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fas fa-sign-out-alt"></i>  <%= t(".sign_out", default: " Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item d-block d-md-none">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to profile_path do %>
                <span><i class="fas fa-user"></i> Profile</span>
              <% end %></li>
        <li><%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fas fa-sign-out-alt"></i>  <%= t(".sign_out", default: " Log out") %>
              <% end %></li>
      </ul>
    </div>
  </div>

  <% else %>
      <!-- Logo -->
    <%= link_to root_path do %>
      <%= image_tag "logo.svg" %>
    <% end %>

    <!-- Right Navigation -->
    <div class="navbar-wagon-right hidden-xs hidden-sm">
      <!-- Login link (when logged out) -->
      <div class="button-container">
        <%= link_to "Sign In", "users/sign_in", class: "btn boutton-rouge boutton-rouge-inside sign" %>
      </div>
    </div>

  <% end %>
</div>







