<div class="profile-banner">
  <div class="conteneur-profile-banner">
    <h2>Connect your @ccounts <%= @test %></h2>
    <h3>Click on one of the icon to connect your account to your Life Pod</h3>
    <div class="row">
      <div class="col-md-3">
        <div class="card-profile-logo">
          <%= link_to @url_spotify do %>
            <% if current_user.spotify.nil? %>
              <%= image_tag 'spotify_logo_nb.png', id: "profile-banner-logo-spotify" %>
            <% else %>
              <%= image_tag 'spotify_logo.png', id: "profile-banner-logo-spotify" %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card-profile-logo">
          <%= link_to @url_instagram do %>
            <% if current_user.instagram.nil? %>
              <%= image_tag 'instagram_logo_nb.png', id: "profile-banner-logo-insta" %>
            <% else %>
              <%= image_tag 'instagram_logo.png', id: "profile-banner-logo-insta" %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card-profile-logo">
          <% if current_user.facebook.nil? %>
            <%= image_tag 'facebook_logo_nb.png', id: "profile-banner-logo-fb" %>
          <% else %>
            <%= image_tag 'facebook_logo.png', id: "profile-banner-logo-fb" %>
          <% end %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card-profile-logo">
          <% if current_user.youtube.nil? %>
            <%= image_tag 'youtube_logo_nb.png', id: "profile-banner-logo-youtube" %>
          <% else %>
            <%= image_tag 'youtube_logo.png', id: "profile-banner-logo-youtube" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
