<%= render 'shared/dashboard' %>

<div class="container">
  <h1 style="text-align: center">Explore your memories</h1>
  <div class="wrapper-box">
    <div class="row">
      <div class="col-xs-4 affichage-box">
        <%= image_tag "Book.svg" %>
        <%= link_to "Explore it", "#", class: "boutton-rouge boutton-rouge-border" %>
      </div>
      <div class="col-xs-4 affichage-box">
        <%= image_tag "Music.svg" %>
        <%= link_to "Explore it", "#", class: "boutton-rouge boutton-rouge-border" %>
      </div>
      <div class="col-xs-4 affichage-box">
        <%= image_tag "Pictures.svg" %>
        <%= link_to "Explore it", "#", class: "boutton-rouge boutton-rouge-border" %>
      </div>
    </div>
  </div>
</div>
