<%= render 'shared/dashboard' %>

<div class="conteneur-explore"><h1 class="text-center font-weight-bold">Explore your memories</h1></div>
  <div class="wrapper-box">
    <div class="block">
      <div class="animation">
        <% compteur = 1 %>
        <% @stamps.each do |pair|%>
        <% if compteur == 1 %>
          <div class="first ecart-box">
        <% else %>
          <div class="ecart-box">
        <% end %>
            <% compteur -= 1 %>
            <div class="box">
              <%= image_tag "boxes/#{rand(1...4)}.svg" %>
                <div class="<%=pair[0].stamp_image%> stamp-right" >
                  <div class="stamp-content">
                    <p><%= pair[0].title.upcase %></p>
                  </div>
                </div>
              <div class="">
                <div class="<%= pair[1].stamp_image%> stamp-left" >
                  <p><%= pair[1].title.upcase %></p>
                </div>
              </div>
            </div>
            <span class="lien-to-box">
              <%= link_to "Explore it", memories_path(stamp: [pair[0].title, pair[1].title]), class: "btn boutton-rouge boutton-rouge-border" %>
            </span>
          </div>
        <% end %>
      </div>
    </div>
  </div>



<%= javascript_pack_tag 'carroussel' %>
