<%= render 'shared/dashboard' %>

<div class="container">
  <h1 style="text-align: center">Explore your memories</h1>
  <div class="wrapper-box">
    <div class="row">
      <div class="col-xs-4 affichage-box">
        <div class="box">
          <%= image_tag "Book.svg" %>
        </div>
        <div class="lien-to-box">
          <%= link_to "Explore it", memories_path(stamp: [@stamp1, @stamp2]), class: "btn boutton-rouge boutton-rouge-border" %>
        </div>
      </div>
      <div class="col-xs-4 affichage-box">
        <div class="box">
          <%= image_tag "Music.svg" %>
        </div>
        <div class="lien-to-box">
          <%= link_to "Explore it", memories_path, class: "btn boutton-rouge boutton-rouge-border" %>
        </div>
      </div>
      <div class="col-xs-4 affichage-box">
        <div class="box">
          <%= image_tag "Pictures.svg" %>
        </div>
        <div class="lien-to-box">
          <%= link_to "Explore it", memories_path, class: "btn boutton-rouge boutton-rouge-border" %>
        </div>
      </div>
    </div>
  </div>
</div>

