<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load Charts and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Draw the pie chart for Sarah's pizza when Charts is loaded.
      google.charts.setOnLoadCallback(drawManuPieChart);

      // Draw the pie chart for the Anthony's pizza when Charts is loaded.
      google.charts.setOnLoadCallback(drawSuggestedPieChart);

      google.charts.setOnLoadCallback(drawManuSuggestedPieChart);

      google.charts.setOnLoadCallback(drawNumberSuggestedChart);


      // Callback that draws the pie chart for Sarah's pizza.
      function drawManuPieChart() {

        // Create the data table for Sarah's pizza.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Nature');
        data.addColumn('number', 'Memories');
        data.addRows([
          ['Photos', 246],
          ['Videos', 89],
          ['Quotes', 56]
        ]);

        // Set options for Sarah's pie chart.
        var options = {title:'Your manually-added memories repartition',
                       width:400,
                       height:300,
                       colors: ['#45315d', '#ff2400', '#ff9280']};

        // Instantiate and draw the chart for Sarah's pizza.
        var chart = new google.visualization.PieChart(document.getElementById('Manu_Pie_chart_div'));
        chart.draw(data, options);
      }

      // Callback that draws the pie chart for Anthony's pizza.
      function drawSuggestedPieChart() {

        // Create the data table for Anthony's pizza.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Nature');
        data.addColumn('number', 'Memories');
        data.addRows([
          ['Spotify', 356],
          ['Instagram', 148]
        ]);

        // Set options for Anthony's pie chart.
        var options = {title:'Your suggested memories repartition',
                       width:400,
                       height:300,
                       colors: ['#45315d', '#ff2400']};

        // Instantiate and draw the chart for Anthony's pizza.
        var chart = new google.visualization.PieChart(document.getElementById('Suggested_Pie_chart_div'));
        chart.draw(data, options);
      }

      function drawManuSuggestedPieChart() {

        // Create the data table for Sarah's pizza.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Nature');
        data.addColumn('number', 'Memories');
        data.addRows([
          ['Manual', 391],
          ['Suggested', 504]
        ]);

        // Set options for Sarah's pie chart.
        var options = {title:'Your manually/suggested repartition',
                       width:400,
                       height:300,
                       colors: ['#45315d', '#ff2400']};

        // Instantiate and draw the chart for Sarah's pizza.
        var chart = new google.visualization.PieChart(document.getElementById('Manu_Suggested_Pie_chart_div'));
        chart.draw(data, options);
      }

      function drawNumberSuggestedChart() {


        var data = google.visualization.arrayToDataTable([
                  ['Year', 'Sales'],
                  ['2013',  1000],
                  ['2014',  1170],
                  ['2015',  660],
                  ['2016',  1030],
                  ['2013',  1000],
                  ['2014',  1170],
                  ['2015',  660],
                  ['2016',  1030]
                ]);


        var options = {
          title: 'Number of memories added',
          hAxis: {title: 'Year',  titleTextStyle: {color: '#333'}},
          vAxis: {minValue: 0},
          colors: ['#0b132b']
        };

        var chart = new google.visualization.AreaChart(document.getElementById('Number_Suggested_Chart_div'));
        chart.draw(data, options);
      }

    </script>
  </head>
  <body>


    <!--Number of boxes-->

    <div class="large-container grey">
      <div class="num-box">
        <%= image_tag "boxes/1.svg", class: "padding"%>
        <div class="wrap text-center">
          <h3>You would need <%= pluralize @tot_box, "box" %> to move all your content out !</h3>
        </div>
      </div>
    </div>
    <!--Podium-->

    <div class="large-container">
      <div class="row">
        <div class="col-lg">
          <h2 class="text-center espace">Your most used stamps</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 offset-lg-3"">
          <div class="box-viz">
            <div class="icon">
              <div class=<%=@stamp_1.stamp_image%> >
                <p><%= @stamp_1.title.upcase %></p>
              </div>
            </div>
            <div class="count">
              <p><strong><%=@stamp_1_mem%></strong></p>
              <p><%=  "Memory".pluralize(@stamp_1_mem) %></p>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="box-viz">
            <div class="icon">
              <div class=<%=@stamp_2.stamp_image%> >
                <p><%= @stamp_2.title.upcase %></p>
              </div>
            </div>
            <div class="count">
              <p><strong><%=@stamp_2_mem%></strong></p>
              <p><%=  "Memory".pluralize(@stamp_2_mem) %></p>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="box-viz">
            <div class="icon">
              <div class=<%=@stamp_3.stamp_image%> >
                <p><%= @stamp_3.title.upcase %></p>
              </div>
            </div>
            <div class="count">
              <p><strong><%=@stamp_3_mem%></strong></p>
              <p><%=  "Memory".pluralize(@stamp_2_mem) %></p>
            </div>
          </div>
        </div>
      </div>
    </div>








    <!--Table and divs that hold the pie charts-->
    <table class="columns">
      <tr>
        <td><div id="Manu_Pie_chart_div" style="border: 1px solid #ccc"></div></td>
        <td><div id="Suggested_Pie_chart_div" style="border: 1px solid #ccc"></div></td>
        <td><div id="Manu_Suggested_Pie_chart_div" style="border: 1px solid #ccc"></div></td>
      </tr>
      <tr>
        <div id="Number_Suggested_Chart_div" style="width: 100%; height: 500px;"></div>
      </tr>
    </table>


  </body>
</html>
