<h2 class="text-center font-weight-bold d-none d-md-block" style="margin-top: 20px; margin-bottom: 10px;"><%= current_user.first_name %>'s dashboard</h1>



<div class="conteneur-grid-data">

  <!--Piecharts-->
  <span class= "piechart-grid d-flex align-items-center">
    <div class="conteneur-graph-pie">
      <p style="text-align: center; margin: 8px 0px; font-style: italic;">Self-added memories distribution</p>
      <canvas id="ManuPieChart" data-tab="<%= Memory.where(memory_type: 'photo').count %>-<%= Memory.where(memory_type: 'video').count %>-<%= Memory.where(memory_type: 'quote').count %>"></canvas>
    </div>
    <div class="conteneur-graph-pie">
      <p style="text-align: center; margin: 8px 0px; font-style: italic;">Added through suggestion memories distribution</p>
      <canvas id="SuggePieChart" data-tab="<%= Memory.where(memory_type: 'spotify').count %>-<%= Memory.where(memory_type: 'instagram').count %>"></canvas>
    </div>
    <div class="conteneur-graph-pie">
      <p style="text-align: center; margin: 8px 0px; font-style: italic;">Self-added VS Suggested distribution</p>
      <canvas id="ManuSuggePieChart" data-tab="<%= Memory.where(memory_type: 'spotify').count + Memory.where(memory_type: 'instagram').count %>-<%= Memory.where(memory_type: 'photo').count + Memory.where(memory_type: 'video').count + Memory.where(memory_type: 'quote').count %>"></canvas>
    </div>
  </span>

  <!--Date d'ajout-->
  <span class="line-chart-grid">
    <div class="conteneur-graph">
      <p style="text-align: center; margin: 4px 0px; font-style: italic;">Number of addings per period of time</p>
      <canvas id="line-chart" data-tab="12-21-3-21-32-33-22-12-40"></canvas>
    </div>
  </span>



  <!--Pertinence des sukG-->

  <span class="bar-chart-grid">
    <div class="conteneur-graph">
      <p style="text-align: center; margin: 4px 0px; font-style: italic;">Suggestion efficiency</p>
      <canvas id="SpotInstaBarChart" data-tab="<%= @sukg_instagram %>-<%= @sukg_spotify %>"></canvas>
    </div>
  </span>


  <!--Podium-->

  <span class="podium-grid">
    <div class="conteneur-podium-grid">

      <span class="title-podium-grid align-items-center">
        <h4 class="text-center espace" style="margin-bottom: 20px; margin-top: 10px;">Your most used stamps</h4>
      </span>

      <span class="stamp-1-grid d-flex align-items-center justify-content-center">
        <div class="icon">
          <div class=<%=@stamp_1.stamp_image%> >
            <p><%= @stamp_1.title.upcase %></p>
          </div>
        </div>
      </span>
      <span class="count-1-grid d-flex align-items-center justify-content-center">
        <p style="font-size: 36px; font-weight: bold; margin-bottom: 0px;"><%=@stamp_1_mem%></p>
        <p><%=  "Memory".pluralize(@stamp_1_mem) %></p>
      </span>
      <span class="medal-1-grid d-flex align-items-end justify-content-center">
        <%= image_tag 'gold-medal.png' %>
      </span>

      <span class="stamp-2-grid d-flex align-items-center justify-content-center">
        <div class="icon">
          <div class=<%=@stamp_2.stamp_image%> >
            <p><%= @stamp_2.title.upcase %></p>
          </div>
        </div>
      </span>
      <span class="count-2-grid d-flex align-items-center justify-content-center">
        <p style="font-size: 36px; font-weight: bold; margin-bottom: 0px;"><%=@stamp_2_mem%></p>
        <p><%=  "Memory".pluralize(@stamp_2_mem) %></p>
      </span>
      <span class="medal-2-grid d-flex align-items-end justify-content-center">
        <%= image_tag 'silver-medal.png' %>
      </span>

      <span class="stamp-3-grid d-flex align-items-center justify-content-center">
        <div class="icon">
          <div class=<%=@stamp_3.stamp_image%> >
            <p><%= @stamp_3.title.upcase %></p>
          </div>
        </div>
      </span>
      <span class="count-3-grid d-flex align-items-center justify-content-center">
        <p style="font-size: 36px; font-weight: bold; margin-bottom: 0px;"><%=@stamp_3_mem%></p>
        <p><%=  "Memory".pluralize(@stamp_2_mem) %></p>
      </span>
      <span class="medal-3-grid d-flex align-items-end justify-content-center">
        <%= image_tag 'bronze-medal.png' %>
      </span>

    </div>
  </span>




  <!--Number of boxes-->

  <span class="box-fun-grid">
    <div class="num-box">
      <%= image_tag "boxes/1.svg", class: "padding"%>
      <div class="wrap text-center">
        <h3>You would need </h3>
        <h3><%= pluralize @tot_box, "box" %></h3>
        <h3>to move all your content</h3>
        <p>Considering that you would need 400 musics, 400 videos, 1600 quotes and 6400 photos to fill a box.</p>
      </div>
    </div>
  </span>

</div>

