<div class="banner blue">
  <div class="banner-content">
    <h1>Your personal digital space</h1>
    <p class="d-none d-lg-block"><span id="banner-typed-text"></span></p>
    <%= image_tag "Boxes.svg", id: "boxes", class: "d-none d-lg-block"%>
  </div>
</div>

<section>
  <h1 class="font-weight-bold">Discover</h1>
  <button id="discover"></button>
</section>

<div class="large-container grey">
  <div class="wrapper">
      <div class="container-box-left red">
      <h1>1.</h1>
      <p>Connect all your accounts to your personal storage</p>
    </div>
    <div class="container-right margin d-none d-xl-block">
      <%= image_tag "logo-accounts.svg"%>
    </div>
  </div>
</div>

<div class="large-container">
  <div class="wrapper">
    <div class="container-left d-none d-xl-block">
      <div>
        <%= image_tag "stamps.svg"%>
      </div>
    </div>
    <div class="container-box-right violet">
      <h1>2.</h1>
      <p>Stamp your memories to identify them </p>
    </div>
  </div>
</div>

<div class="large-container grey">
  <div class="wrapper">
    <div class="container-box-left saumon">
      <h1>3.</h1>
      <p>Find & Explore your best memories</p>
    </div>
    <div class="container-right d-none d-xl-block">
      <%= image_tag "group-boxes.svg"%>
    </div>
  </div>
</div>

<div class="button-container">
  <%= link_to "Sign Up", "users/sign_up", class: "btn boutton-rouge boutton-rouge-inside sign" %>
</div>

    <%= javascript_pack_tag 'banner' %>
    <%= javascript_pack_tag 'discover' %>
