<div class="banner blue">
  <div class="banner-content">
    <h1>Your personal digital space</h1>
    <p><span id="banner-typed-text"></span></p>
    <%= image_tag "Boxes.svg", id: "boxes", class: "d-none d-lg-block"%>
    <%= image_tag "boxes/3.svg", id: "picture", class: "d-none d-md-block d-lg-block"%>
  </div>
</div>

<section>
  <h1 class="font-weight-bold">Discover</h1>
  <button id="discover"></button>
</section>

<div class="large-container grey">
  <div class="wrapper">
    <div class="container-box-left red">
      <h1>1.</h1>
      <p>Connect all your accounts to your personal storage</p>
    </div>
    <div class="container-right flex-around">
      <i class="fab fa-instagram"></i>
      <i class="fab fa-spotify"></i>
      <i class="fab fa-facebook-square"></i>
    </div>
  </div>
</div>

<div class="large-container">
  <div class="wrapper">
    <div class="container-left">
      <%= image_tag "stamp-rouge.svg", id: "stamp-rouge" %>
    </div>
    <div class="container-box-right violet">
      <h1>2.</h1>
      <p>Stamp your memories to identify them </p>
    </div>
  </div>
</div>

<div class="large-container grey">
  <div class="wrapper">
    <div class="container-box-left saumon">
      <h1>3.</h1>
      <p>Find & Explore your best memories</p>
    </div>
    <div class="container-right flex-between">
      <div class="top">
        <%= image_tag "boxes/1.svg", id: "top", class: "medium-size"%>
      </div>
      <div class="bottom">
        <%= image_tag "boxes/2.svg", id: "bottom", class: "small-size"%>
      </div>
      <div>
        <%= image_tag "boxes/3.svg", id: "top", class: "big-size"%>
       </div>
    </div>
  </div>
</div>


<div class="button-container">
  <%= link_to "Sign Up", "users/sign_up", class: "btn boutton-rouge boutton-rouge-inside sign" %>
</div>

    <%= javascript_pack_tag 'banner' %>
    <%= javascript_pack_tag 'discover' %>
