<div class="small-display-categories" id="mySmallFooter">
  <div class="small-conteneur-ajout">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <div class="small-item-categories" data-categorie="photo">
              <i class="fas fa-image selected-picto"></i>
            </div>
          </div>
          <div class="col-md-4">
            <div class="small-item-categories" data-categorie="video">
              <%= link_to modal_video_path do%>
                <i class="fas fa-video"></i>
              <% end  %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="small-item-categories" data-categorie="quote">
              <%= link_to modal_quote_path do%>
                <i class="fas fa-quote-right"></i>
              <% end  %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- MODAL PHOTO -->

<div class="modal fade bd-example-modal-lg" id="photo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div id="fermer-modal-ajout" data-toggle="modal" data-target=".bd-example-modal-lg" data-backdrop="static">
          <%= link_to add_path do%>
            <i class="fas fa-times"></i>
          <% end  %>
        </div>
        <div class="conteneur-modal-ajout">
          <h1 id='titre-ajout'>Add a memory</h1>
          <%= simple_form_for [@memory] do |f| %>
            <div class="row">
              <div class="col-md-5">
                <div class="cadre-photo img-fluid" alt="Responsive image">
                  <%= cl_image_upload_tag(:image_id) %>
                </div>
              </div>
              <div class="col-md-7">
                <%= f.input :memory_type, input_html: { id: 'special_categorie', value: "photo" }, as: :hidden  %>
                <%= f.input :title %>
                <%= f.input :description %>
                <%= f.label 'Stamps*', autofocus: true %>
                <div class="stamps-form">
                  <%= select_tag 'memory[stamps][]', options_for_select(Stamp.all.pluck(:title)), multiple: 'multiple', class: 'form-control select2'%>
                </div>
              </div>
              <div class="submit-add-button">
                <%= f.submit 'Add a memory', class: "btn boutton-rouge boutton-rouge-inside" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% content_for(:js) do %>
  <script>
    $('#photo').modal('show');
    $(function() {
      if($.fn.cloudinary_fileupload !== undefined) {
        $("input.cloudinary-fileupload[type=file]").cloudinary_fileupload();
      }
    });

    function cloudinaryPreview() {
      $('.cloudinary-fileupload').bind('cloudinarydone', function(e, data) {
        console.log(data)
        $('.cadre-photo').html(
          $.cloudinary.image(data.result.public_id,
            { format: data.result.format, version: data.result.version,
              class: "img-fluid"})
        );
        $('.image_id').val(data.result.public_id);
        return true;
      });
    }
    cloudinaryPreview()
  </script>
<% end %>
