
<div class="conteneur-memories" id="container">
  <h1 class="text-center font-weight-bold">Here is the best content we have selected for you</h1>
</div>

<div class="row">
  <div class="d-none d-md-block col-md-2">
  </div>

  <div class="col-xs-12 col-sm-10 col-md-8">
    <div class="card-columns">
      <div class="card card-pola" id="versCategories">
        <div class="image-container">
          <div class="card-img" id="fixed">
            <h3 class="text-center font-weight-bold">Add a memory from another source</h3>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text">Add your <strong>personal content</strong></p>
        </div>
      </div>
      <% unless @spotify_memories.nil? %>
        <% @spotify_memories.each do |memory|%>
          <div class="card">
            <div class="card-pola">
              <div class="image-container" data-toggle="modal" data-target="#modal-suggestion-spotify_<%= memory.id %>">
                <%= image_tag memory.image_associated, id: "box", class: "card-img"%>
                <h2><%= memory.description %></h2>
                <h3><%= memory.title.capitalize %></h3>
                <div class="card-img-overlay">
                  <i class="fas fa-compact-disc"></i>
                </div>
              </div>
              <div class="card-body">
                <p>Suggested from <strong>Spotify</strong></p>
                <p><strong>Top 50</strong> listenings</p>
              </div>
            </div>
          </div>
        <% end%>
      <% end%>
    </div>
  </div>

  <div class="d-none d-md-block col-md-2">
  </div>

</div>

<div class="small-display-categories d-none d-md-block" id="mySmallFooter">
  <div class="small-conteneur-ajout">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <div class="small-item-categories" data-categorie="photo">
              <i class="fas fa-image selected-picto"></i>
            </div>
          </div>
          <div class="col-md-4">
            <div class="small-item-categories" data-categorie="video">
              <%= link_to modal_video_path do%>
                <i class="fas fa-video"></i>
              <% end  %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="small-item-categories" data-categorie="quote">
              <%= link_to modal_quote_path do%>
                <i class="fas fa-quote-right"></i>
              <% end  %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- MODAL PHOTO -->

<%= render 'shared/modalphoto' %>
