<%= render 'shared/profile_banner' %>

<div class="conteneur-profile-page">
  <div class="row">
    <div class="offset-md-1 col-md-3">
      <div class="profile-picture">
        <%= cl_image_tag current_user.profile_picture, class: 'profile-picture-big' %>
        <%= link_to "Change picture", edit_user_registration_path, class: "btn boutton-rouge boutton-rouge-inside" %>
      </div>
    </div>
    <div class="offset-md-1 col-md-6">
      <div class="profile-informations-personnelles">
        <h3>Your personal information</h3>
        <p>Email address: <%= current_user.email %></p>
        <p>First name: <%= current_user.first_name %></p>
        <p>Last name: <%= current_user.last_name %></p>
        <p>Birth date: <%= current_user.birth %></p>
      </div>
    </div>
  </div>
</div>
