<div class="block">
  <div class="animation">
    <div class="first">
      <%= image_tag "boxes/#{rand(1...4)}.svg" %>
    </div>
    <div>
      <%= image_tag "boxes/#{rand(1...4)}.svg" %>
    </div>
    <div>
      <%= image_tag "boxes/#{rand(1...4)}.svg" %>
    </div>
    <div>
      <%= image_tag "boxes/#{rand(1...4)}.svg" %>
    </div>
    <div>
      <%= image_tag "boxes/#{rand(1...4)}.svg" %>
    </div>
    <div>
      <%= image_tag "boxes/#{rand(1...4)}.svg" %>
    </div>
    <!-- cut -->
  </div>
</div>

<%= javascript_pack_tag 'carroussel' %>
