<p> This is a test </p>


<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="media">
          <div class="media-left med-left">
            <%= link_to '#' do %>
              <%= image_tag "test.jpg", width: "400", height: "500" %>
            <% end %>
          </div>
          <div class="media-body med-body">
           <h1>Memories#new</h1>
            <%= simple_form_for [@memory] do |f| %>
              <%= f.input :title %>
              <%= f.input :description %>
              <%= f.submit 'Add a memory', class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>

      ...
    </div>
  </div>
</div>
