<%= render 'shared/dashboard' %>

<div class="row">
  <div class="d-none d-md-block col-md-2">
    <div id="sidebar">
      <% if params[:stamp] == nil %>
      <% else %>
        <h4 class="text-right">Stamps</h4>
        <% @stamps.each do |stamp|%>
          <div class=<%=stamp.stamp_image%> >
            <p><%= stamp.title.upcase %></p>
          </div>
        <% end%>
      <% end%>
    </div>
  </div>

  <div class="col-xs-12 col-sm-10 col-md-8">
    <div class="container">
      <div class="card-columns">
        <% @memories.each do |memory|%>
          <div class="card">
            <% if memory.memory_type == "photo" || memory.memory_type == "video" %>
              <div class="card-pola">
                <div class="image-container" data-toggle="modal" data-target="#myModal_<%= memory.id %>">
                  <% if memory.memory_type == "photo" %>
                    <%= cl_image_tag memory.photo, id: "box", class: "card-img"%>
                    <h3><%= memory.title.capitalize %></h3>
                  <% elsif memory.memory_type == "video" %>
                    <%= cl_video_tag(memory.photo.filename, id: "box", class: "card-img") %>
                    <h3><%= memory.title.capitalize%></h3>
                  <% end %>
                </div>
                  <div class="card-body text-center">
                    <p type="date"><%=memory.created_at.strftime('%Y-%m-%d')%></p>
                  </div>
              </div>
            <% elsif memory.memory_type == "spotify" %>
              <div class="card-spotify" >
                <div class="image-container-spotify" data-toggle="modal" data-target="#myModal_<%= memory.id %>">
                  <%= image_tag memory.image_associated, class: "card-img"%>
                  <h2><%= memory.description %></h2>
                  <h3><%= memory.title.capitalize %></h3>
                  <%= image_tag "disc.svg", class: "center3" %>
                </div>
              </div>


            <% elsif memory.memory_type == "instagram" %>
                <div class="card-pola">
                  <div class="image-container" data-toggle="modal" data-target="#myModal_<%= memory.id %>">
                    <%= image_tag memory.image_associated, id: "box", class: "card-img"%>
                    <p class="calendar-left" type="date"><strong>Liked <%= memory.url %> times</strong></p>
                    <h3><%= memory.title.capitalize %></h3>
                  </div>
                  <div class="card-body text-center">
                    <p type="date"><%=memory.created_at.strftime('%Y-%m-%d')%></p>
                  </div>
                </div>
            <% else %>
              <div class="card-quote">
                <div class="card-body" data-toggle="modal" data-target="#myModal_<%= memory.id %>">
                  <h3 class="card-text quote"><%= memory.title %></h3>
                </div>
              </div>
            <% end %>
          </div>
        <% end%>
      </div>
    </div>
  </div>

  <div class="d-none d-md-block col-md-2">
  </div>

</div>


<% @memories.each do |memory|%>
  <%= render 'shared/modalshow', memory: memory %>
<% end %>



