<%= render 'shared/dashboard' %>
<div id="sidebar" class="d-none d-lg-block">
  <h4 class="text-right">Stamps</h4>
  <% @stamps.each do |stamp|%>
      <div class=<%=stamp.stamp_image%> >
        <p><%= stamp.title.upcase %></p>
      </div>
    <% end%>
</div>

<div id="page-content">
  <div class="container">
    <div class="card-columns">
      <% @memories.each do |memory|%>
        <div class="card">
          <div class="macard">
          <div class="image-container" data-toggle="modal" data-target="#myModal_<%= memory.id %>">
            <% if memory.memory_type == "photo" %>
             <%= cl_image_tag memory.photo, id: "box", class: "card-img"%>
            <p class="calendar-left" type="date"><%=memory.created_at.strftime('%Y-%m-%d')%></p>
            <h3><%= memory.title.capitalize %></h3>
            <% elsif memory.memory_type == "video" %>
            <%= cl_video_tag(memory.photo.filename, id: "box", class: "card-img") %>
            <p class="calendar-left" type="date"><%=memory.created_at.strftime('%Y-%m-%d')%></p>
            <h3><%= memory.title.capitalize %></h3>
            <% else %>
            <div class="card-img fond"></div>
            <p class="calendar-left" type="date"><%=memory.created_at.strftime('%Y-%m-%d')%></p>
            <h3><%= memory.title.capitalize %></h3>
            <% end %>
          </div>
          <div class="card-body">
          </div>
          </div>
        </div>
      <% end%>
    </div>
  </div>
</div>

<% @memories.each do |memory|%>
  <%= render 'shared/modalshow', memory: memory %>
<% end %>



