<h1>Memories#new</h1>
<%= simple_form_for [@memory] do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= select_tag 'memory[stamps][]', options_for_select(Stamp.all.pluck(:title)), multiple: 'multiple', class: 'form-control select2'%>
  <%= f.submit 'Add a memory', class: "btn btn-primary" %>
<% end %>

