<h1>Memories#new</h1>
<%= simple_form_for [@memory] do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.simple_fields_for :stamps do |stamp| %>
    <%= stamp.input :title %>
  <% end %>
  <%= f.submit 'Add a memory', class: "btn btn-primary" %>
<% end %>
