<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> LifePod | Your personal digital space </title>
    <%= favicon_link_tag %>
    <meta property="og:title" content="LifePod | Your personal digital space ">
    <meta property="og:image" content="logo.svg">
    <meta property="og:description" content="LifePod is your personal digital space. Select and store your best memories.">
    <meta property="og:site_name" content="LifePod"/>

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600|Raleway:400,400i,600" rel="stylesheet">
    <%= stylesheet_pack_tag 'application' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <script>

    </script>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= cloudinary_js_config %>
    <%= yield :js %>
  </body>
</html>
